---
import Header from "../components/Header.astro";
import Seo from "../components/Seo.astro";

interface Props {
  title: string;
  id: string;
  description: string;
}
const { title, id, description } = Astro.props;
import "../styles/globalStyle.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Seo title={title} description={description} />

  </head>

  <body>
    <Header />
    <main>
      <slot />
    </main>

    <footer>
      <p>&copy; 2025 Jochem Punt. All rights reserved.</p>
    </footer>
  </body>
</html>

<style is:global>
  :root {
    --accent-color: #ff835a;
    --primary-color: hsl(0, 0%, 82%);
    --secondary-color: #fae6df;
    --text-color: #d1cfcf;
    --background-color: #262726;
  }

  h2 {
    padding-left: 0.5rem;
  }

  main {
    max-width: 1500px;
  }
</style>
