---
import "../styles/globalStyle.css";
import BasicLayout from "../layouts/basicLayout.astro";
---

<BasicLayout title="About Me" id="about-me">
  <p>I am Jochem Punt a <b>Software Developer</b></p>
</BasicLayout>
