---
import BasicLayout from "../layouts/basicLayout.astro";

const description =
  "Software Engineer passionate about interactive experiences. Learn more about my background, skills, and approach";
---

<BasicLayout title="About Me" id="about-me" description={description}>
  <section>
    <h1>About me</h1>
    <h3>I'm <em>Jochem Punt</em>, a Software Developer</h3>
  </section>
  <p>
    specializing in frontend development with a focus on UI/UX and
    human-computer interaction. I have hands-on experience with <b>React</b>,
    along with a solid foundation in <b>HTML</b>, <b>CSS</b>, and
    <b>JavaScript/Typescript</b>. I enjoy building interactive applications and
    have knowledge in <b>C#</b>, particularly within the <b>.NET framework</b> and
    <b>Unity</b>.
  </p>
</BasicLayout>

<style>
  p {
    max-width: 800px;
  }

  h3 {
    font-weight: 500;
    color: rgb(241, 241, 241);
  }

  em {
    font-weight: 800;
    color: var(--accent-color);
    font-style: normal;
    font-size: 1.8rem;
  }
</style>
