---
import "../styles/globalStyle.css"
import  BasicLayout from "../layouts/basicLayout.astro"
---


<BasicLayout title="Projects" id="projects">
<p>Developer specializing in interactive Software and web technologies</p>
</BasicLayout>
