:root {
  --primary-color: hsl(0, 0%, 82%);
  --text-color: #d1cfcf;
  --text-color-light: #f1f1f1; 
  --background-color: #262726;
  --background-color-light: #474947;
  --accent-color: #ff835a; 
  --accent-color-rgb: 255, 131, 90;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

*::selection {
  background: var(--accent-color);
  color: var(--text-color-light);
}
*::-moz-selection {
  background: var(--accent-color);
  color: var(--text-color-light);
}
*::-webkit-selection {
  background: var(--accent-color);
  color: var(--text-color-light);
}

h1,
h2,
h3 {
  font-weight: 700;
}
a:focus-visible {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}

h2 {
  color: var(--text-color-light);
  text-align: left;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

main {
  flex: 1;
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem 2rem 0 2rem;
}

footer {
  background-color: rgba(255, 255, 255, 0.05);
  color: var(--text-color);
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  color: var(--text-color-light);
  font-size: 2.5rem;
}

@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}

::view-transition-old(title),
::view-transition-new(title) {
  animation-duration: 250ms; 
  animation-timing-function: ease-in; 
}

header {
  view-transition-name: header;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  main {
    padding: 0;
    margin-top: 0;
  }

  h1 {
    margin-bottom: 0.2rem;
    font-size: 2rem;
  }

  h2 {
    margin-bottom: 0;
  }

  footer {
    padding: 0;
    margin: 0;
  }
}
